In [49]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import kmeans
from sklearn.neighbors import KNeighborsClassifier
import sqlite3

In [51]:
ba2014 = pd.read_csv("data/leagues_MLB_2014-standard-batting_players_standard_batting.csv")
pa2014 = pd.read_csv("data/leagues_MLB_2014-standard-pitching_players_standard_pitching.csv")
ids = pd.read_csv("data/id.csv")

ba2014 = ba2014[ba2014["Name"]!="Name"]
pa2014 = pa2014[pa2014["Name"]!="Name"]

ids["fullname"] = ids["first"].map(str) + " " + ids["last"].map(str)

ba2014["Name"] = ba2014["Name"].str.replace('*', '')
ba2014["Name"] = ba2014["Name"].str.replace('#', '')

pa2014["Name"] = pa2014["Name"].str.replace('*', '')
pa2014["Name"] = pa2014["Name"].str.replace('#', '')

ba2014 = ba2014.set_index("Name",drop=False)
pa2014 = pa2014.set_index("Name",drop=False)

ba2014 = ba2014[~ba2014.index.duplicated(keep='first')]
pa2014 = pa2014[~pa2014.index.duplicated(keep='first')]

traincols = ['OBP','SLG','FIP','WHIP','BB','HR','H','AB']
ba2014[['OBP','SLG','BB','HR','H','AB']] = ba2014[['OBP','SLG','BB','HR','H','AB']].astype(float)
ba2014[['OBP','SLG','BB','HR','H','AB']] = ba2014[['OBP','SLG','BB','HR','H','AB']].apply(lambda x: (x - x.mean()) / x.std())
pa2014[['FIP','WHIP']] = pa2014[['FIP','WHIP']].astype(float)
pa2014[['FIP','WHIP']] = pa2014[['FIP','WHIP']].apply(lambda x: (x - x.mean()) / x.std())

ba2014.head()

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,Pos Summary
Name,,,,,,,,,,,,,,,,,,,,,
Fernando Abad,1,Fernando Abad,28,OAK,AL,69,0,-0.680519,0,-0.633239,...,NaN,NaN,NaN,0,0,0,0,0,0,1
Bobby Abreu,2,Bobby Abreu,40,NYM,NL,78,155,0.037495,12,0.026858,...,0.366632,.680,97,45,3,0,0,2,0,9/7D
Jose Abreu,3,Jose Abreu,27,CHW,AL,145,622,2.321104,80,2.887280,...,1.735319,.964,173,323,14,11,0,4,15,*3D
Tony Abreu,4,Tony Abreu,29,SFG,NL,3,4,-0.658925,0,-0.633239,...,-1.537139,.000,-100,0,1,0,0,0,0,/45
Alfredo Aceves,5,Alfredo Aceves,31,NYY,AL,10,0,-0.680519,0,-0.633239,...,NaN,NaN,NaN,0,0,0,0,0,0,1

In [52]:
cols = ['BAT_ID','PIT_ID','EVENT_TX','BAT_HAND_CD','PIT_HAND_CD']
atbats = pd.read_csv("data/events-2014.csv",usecols=cols)
atbats['EVENT_TX'] = atbats['EVENT_TX'].apply(lambda x:  x[0] if x[0] in ('H','T','D','S','W') else "O")

idref = pd.read_csv("data/master.csv",usecols=['bref_name','retro_id'])
idref = idref.set_index('retro_id')
idref = idref.dropna()

mydict = {}
vals = np.concatenate([atbats['BAT_ID'].values,atbats['PIT_ID'].values])
diff = np.setdiff1d(np.unique(vals),idref.index.values)
for val in np.unique(vals):
    if val in diff:
        mydict[val] = False
    else:
        mydict[val] = True
        

def y(x):
    if not mydict[x]:
        return np.nan
    else:
        return idref.get_value(x,"bref_name")
    
atbats['bref_name'] = atbats['BAT_ID'].apply(y)
atbats['bref_name_pit'] = atbats['PIT_ID'].apply(y)
atbats.head()

,BAT_ID,BAT_HAND_CD,PIT_ID,PIT_HAND_CD,EVENT_TX,bref_name,bref_name_pit
0,almoa001,L,weavj003,R,S,Abraham Almonte,Jered Weaver
1,millb002,L,weavj003,R,O,Brad Miller,Jered Weaver
2,millb002,L,weavj003,R,O,Brad Miller,Jered Weaver
3,canor001,L,weavj003,R,O,Robinson Cano,Jered Weaver
4,calhk001,L,hernf002,R,S,Kole Calhoun,Felix Hernandez

In [53]:
atbats = atbats.dropna()
atbats['OBP'] = atbats['bref_name'].apply(lambda x: ba2014.get_value(x,"OBP"))
atbats['SLG'] = atbats['bref_name'].apply(lambda x: ba2014.get_value(x,"SLG"))
atbats['BB'] = atbats['bref_name'].apply(lambda x: ba2014.get_value(x,"BB"))
atbats['HR'] = atbats['bref_name'].apply(lambda x: ba2014.get_value(x,"HR"))
atbats['H'] = atbats['bref_name'].apply(lambda x: ba2014.get_value(x,"H"))
atbats['AB'] = atbats['bref_name'].apply(lambda x: ba2014.get_value(x,"AB"))
atbats['FIP'] = atbats['bref_name_pit'].apply(lambda x: pa2014.get_value(x,"FIP"))
atbats['WHIP'] = atbats['bref_name_pit'].apply(lambda x: pa2014.get_value(x,"WHIP"))



# atbats[traincols] = atbats[traincols].astype(float)
# atbats[traincols] = atbats[traincols].apply(lambda x: (x - x.mean()) / x.std())
# atbats.dtypes

In [54]:
atbats = atbats.fillna(0)
atbats['is_train'] = np.random.uniform(0, 1, len(atbats)) <= .75

# traintarget = atbats['EVENT_TX']

train, test = atbats[atbats['is_train']==True], atbats[atbats['is_train']==False]

In [77]:
clf = RandomForestClassifier(n_jobs=4,n_estimators=50)
clf.fit(train[traincols], train['EVENT_TX'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=4,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [78]:
preds = clf.predict(test[traincols])
pd.crosstab(test['EVENT_TX'], preds, rownames=['actual'], colnames=['preds'])

preds     D    H      O     S   T     W
actual
D        52   32   1718   197   6    73
H        32   25   1182   140   1    82
O       680  446  26530  3144  43  1210
S       174  106   6290   779  16   314
T         4    1    188    21   4     6
W        82   65   2861   377   5   201

In [79]:
# corrects = len(test[(((preds!="O") & (test['EVENT_TX'] !="O"))) | (preds == test['EVENT_TX'])])
corrects = len(test[preds == test['EVENT_TX']])
print(corrects/len(test))

0.585957907702763

In [80]:
clf.feature_importances_

array([ 0.04040794,  0.03785813,  0.3909151 ,  0.40105228,  0.0330731 ,
        0.02574046,  0.03461137,  0.03634161])

In [81]:
model = KNeighborsClassifier(n_neighbors=30)
model.fit(train[traincols], train['EVENT_TX'])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=30, p=2,
           weights='uniform')

In [82]:
preds2 = model.predict(test[traincols])
pd.crosstab(test['EVENT_TX'], preds2, rownames=['actual'], colnames=['preds2'])

preds2  H      O   S  W
actual
D       0   2077   1  0
H       2   1460   0  0
O       0  32024  28  1
S       0   7669   9  1
T       0    224   0  0
W       1   3586   4  0

In [83]:
# corrects = len(test[(((preds2!="O") & (test['EVENT_TX'] !="O"))) | (preds2 == test['EVENT_TX'])])
corrects = len(test[preds2 == test['EVENT_TX']])
print(corrects/len(test))

0.6803363985813494

# Predict probability

In [86]:
batter_name = "Derek Jeter"
pitcher_name = "Jon Lester"


#don't edit below

arr = np.concatenate([ba2014[['OBP','SLG','BB','HR','H','AB']].loc[[batter_name]].values,pa2014[['FIP','WHIP']].loc[[pitcher_name]]],axis=1)

kpred =  model.predict(arr)
kpredpro = model.predict_proba(arr)
print("K means:")
print(kpred)
print("Double","HR","Out","Single","Triple","Walk")
print(kpredpro)
print("\n\n")
clfpred = clf.predict(arr)
clfpredpro = clf.predict_proba(arr)
print("Random forest :")
print(clfpred)
print("Double","HR","Out","Single","Triple","Walk")
print(clfpredpro)

[[ 0.44996271  0.22582015  1.3321995   0.12743884  2.34720025  2.45606884
  -0.57763811 -0.46501923]]
K means:
['O']
Double HR Out Single Triple Walk
[[ 0.          0.13333333  0.7         0.06666667  0.          0.1       ]]



Random forest :
['O']
Double HR Out Single Triple Walk
[[ 0.03        0.05333333  0.57566667  0.18766667  0.          0.15333333]]

# games

In [ ]:
newdf = pd.DataFrame()
newdf[['BAT_ID','PIT_ID']] = atbats[['BAT_ID','PIT_ID']]
print(len(newdf))
newdf.drop_duplicates(inplace=True)
print(len(newdf))

def rowfunc(row):
    rows = atbats[(atbats['BAT_ID']==row[0])&(atbats['PIT_ID']==row[1])]
    if len(rows) == 0:
        return 0
    return rows['H'].sum(skipna=True)/len(rows)

newdf['HIT_AVG'] = newdf.apply(rowfunc,axis = 1)
newdf.head(50)